<mat-card class="profile card">
  <mat-card-title class="card__title">Your profile data</mat-card-title>
  <p class="profile__text"><strong>User id:</strong> {{user.id}}</p>
  <p class="profile__text"><strong>User name:</strong> {{user.name}}</p>
  <p class="profile__text"><strong>Email:</strong> {{user.email}}</p>
  <p class="profile__text"><strong>Balance:</strong> {{user.balance}} PW</p>

  <ul class="profile__menu">
    <li class="profile__menu-item"><a routerLink="/transaction" class="link">New transaction</a></li>
    <li class="profile__menu-item"><a routerLink="/history" class="link">Transaction history</a></li>
  </ul>
</mat-card>
