<mat-card class="card card--table">
    <mat-card-title class="card__title">My transaction list</mat-card-title>
    <div *ngIf="myTransactionDataSource && myTransactionDataSource.length > 0; else myTransactionEmpty;">
      <table mat-table [dataSource]="myTransactionDataSource" class="table">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Name </th>
          <td mat-cell *matCellDef="let element" class="table__cell"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Date </th>
          <td mat-cell *matCellDef="let element" class="table__cell"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Amount </th>
          <td mat-cell *matCellDef="let element" class="table__cell"> {{element.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="repeat">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Repeat </th>
          <td mat-cell *matCellDef="let transaction" class="table__cell">
            <button mat-mini-fab color="primary" class="table__button" (click)="repeatTransaction(transaction)">
              <mat-icon class="table__button-icon">repeat</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="myDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: myDisplayedColumns;"></tr>
      </table>
    </div>
    <ng-template #myTransactionEmpty>
      <h2 class="card__empty-message">No data yet</h2>
    </ng-template>
</mat-card>

  <mat-card class="card card--table">
    <mat-card-title class="card__title">Income transaction list</mat-card-title>

    <div *ngIf="incomeTransactionDataSource && incomeTransactionDataSource.length > 0; else incomeTransactionEmpty">
      <table mat-table [dataSource]="incomeTransactionDataSource" class="table">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Name </th>
          <td mat-cell *matCellDef="let element" class="table__cell"> {{element.username}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Date </th>
          <td mat-cell *matCellDef="let element" class="table__cell"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="table__cell"> Amount </th>
          <td mat-cell *matCellDef="let element" class="table__cell"> {{element.amount}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <ng-template #incomeTransactionEmpty>
      <h2 class="card__empty-message">No data yet</h2>
    </ng-template>
</mat-card>
