<mat-card class="profile card">
  <mat-card-title class="card__title">Your profile data</mat-card-title>
  <p class="profile__text"><strong>User id:</strong> {{userId$ | async}}</p>
  <p class="profile__text"><strong>User name:</strong> {{userName$ | async}}</p>
  <p class="profile__text"><strong>Email:</strong> {{userEmail$ | async}}</p>
  <p class="profile__text"><strong>Balance:</strong> {{userBalance$ | async}} PW</p>

  <ul class="profile__menu">
    <li class="profile__menu-item"><a routerLink="/transaction/new" class="link">New transaction</a></li>
    <li class="profile__menu-item"><a routerLink="/transaction/history" class="link">Transaction history</a></li>
  </ul>
</mat-card>
