table.table {
  width: 100%;

  .table__cell {
    padding: 0 8px;
  }

  .table__button {
    width: 30px;
    height: 30px;
    box-shadow: none;
  }

  .table__button-icon {
    font-size: 15px;
  }
}
